{% extends 'helpersgo/index.html' %} {% block content %}

<style>
  img {
    width: 4rem;
  }

  .perfil {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1rem;
  }
  .perfil img {
    width: 14rem;
  }
  .description h1 {
    margin-top: 4rem;
  }
  .card-global {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1rem;
    margin: 1rem;
  }
  /*RESPONSE 768*/
  @media screen and (max-width: 768px) {
    .card-global {
      grid-template-columns: 50% 50%;
    }
    .perfil {
      grid-template-columns: 100%;
    }
    .description h1 {
      margin-top: 0rem;
      font-size: 1.2rem;
    }
  }
  /*RESPONSE 450*/
  @media screen and (max-width: 450px) {
    .card-global {
      grid-template-columns: 100%;
    }
  }
</style>
<section>
  <div class="perfil">
    <figure class="foto">
      <img src="https://i.pravatar.cc/310" alt="Imagen" />
    </figure>
    <div class="description">
      <h1>Bienvenido a tu bandeja de tareas</h1>
    </div>
  </div>
</section>
<hr />

<table class="table table-hover">
  <thead>
    <tr class="table-success">
      <th scope="col">Cliente</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Fecha Inicial</th>
      <th scope="col">Comentario</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  {% if object_list %} {% for pedido in object_list %}
  <tr class="clickable-row">
    <td>{{pedido.cliente}}</td>
    <td>{{pedido.proveedor}}</td>
    <td>{{pedido.fecha_ini}}</td>
    <td>{{pedido.comentario}}</td>
    <td>{{pedido.estado}}</td>
    <td>
      <div>
        <button
          type="button"
          data-href="{% url 'helpersgo:chatPedido' pedido.id %}"
          class="btn btn-success js_btnChat"
        >
          CHAT
        </button>
        {% if user.is_client %}
        <button
          type="button"
          class="btn btn-info js_btnQr"
          data-href="{% url 'helpersgo:qrPedido' pedido.id %}"
        >
          VER QR
        </button>
        {% endif %}
      </div>
    </td>
  </tr>

  {% endfor %} {% else %}
  <h2>No Hay Resultados...</h2>
  {% endif %}
</table>

{% endblock %} {% block scripts %}
<script>
  $(document).ready(function() {
    $(".js_btnChat").click(function() {
      window.location = $(this).data("href");
    });
    $(".js_btnQr").click(function() {
      window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}
