{% load staticfiles %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% static 'styles/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/43f3cc2ec8.js"></script>
    <title>HelpersGOFrontend</title>
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header>
        <div class="container_top">
          <div class="header">
            <img src="" alt="" />
            <a class="logo" href="#">HelpersGO</a>
          </div>
          <!--END HEADER-->
          <!--NAVEGACIÓN-->
          <nav>
            <ul class="menu">
              <li><a href="">Quienes Somos</a></li>
              <li><a href="">Contáctanos</a></li>
              <li><a href="">Resgístrate</a></li>
              <li><a href="">Ingresar</a></li>
            </ul>
          </nav>
          <i class="js_menu menu fa fa-bars"></i>
        </div>
      </header>
      <!--END NAVEGATION-->
      <!--MAIN-->
      <main>
        <!--SECTION REGISTRARSE E INGRESAR-->
        <!--<div class="container">-->
        <div class="main">
          <div class="main_top">
            <div class="check_enter">
              <div class="check">
                <a href="">Registrarse</a>
              </div>
              <div class="enter">
                <a href="">Ingresar</a>
              </div>
            </div>
            <div class="text_top">
              <h2>Encuentra a tu HelpersGO más calificado en tiempo real</h2>
            </div>
          </div>
          <!--CARDS-->
          <div class="container">
            <div class="main_cards">
              <!--CARD ELECTRICISTA-->
              <a href="">
                <!--CARD ELECTRICISTA-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <figure>
                        <i class="fas fa-charging-station"></i>
                      </figure>
                    </div>
                    <div class="card_text">
                      <h2>Electricistas</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Instalación de luminarias</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Cortocircuito y tablero eléctrico</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Cableado Eléctrico</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más...</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
              <!--CARD GASFITERO-->
              <a href="">
                <!--CARD GASFITERO-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <i class="fas fa-tools"></i>
                    </div>
                    <div class="card_text">
                      <h2>Gasfiteros</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Accesorios de inodoro</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Filtraciones</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Desatoros</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
              <!--CARD PINTURA-->
              <a href="">
                <!--CARD PINTURA-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <i class="fas fa-paint-roller"></i>
                    </div>
                    <div class="card_text">
                      <h2>Pintura</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Pintado en interiores y exteriores</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Resanes</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Curación de salitres u hongos</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
          <!--END CARDS-->

          <!--SECTION FÁCIL RÁPIDO Y SEGURO-->
          <section>
            <div class="eligenos">
              <h2>
                Contacta profesionales al servicio del hogar desde donde estés
              </h2>
              <div class="eligenos_cards">
                <div class="farase">
                  <h5>Fácil</h5>
                  <p>
                    Siempre a tu alcance. Obtén acceso a trabajadores
                    calificados desde la palma de tu mano y desde donde estés,
                    de la manera más sencilla.
                  </p>
                </div>
                <div class="farase">
                  <h5>Rápido</h5>
                  <p>
                    Estamos para atenderte cuando más nos necesitas. Programa la
                    visita de un experto al servicio del hogar en cuestión de
                    minutos.
                  </p>
                </div>
                <div class="farase">
                  <h5>Seguro</h5>
                  <p>
                    Nuestros colaboradores pasan por un riguroso proceso de
                    selección, evaluación psicológica y revisión de antecedentes
                    penales.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!--</div>-->
      </main>
      <!--FOOTER-->
      <footer>
        <div class="container">
          <div class="redes">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
          <div>
            <h4>Todos los derechos reservados 2019</h4>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../static/JS/main.js"></script>
    <script>
      fetch("https://helpersgo.herokuapp.com/helpersgo/apis/servicios/")
        .then(function(response) {
          console.log(response);
          return response.json();
        })
        .then(function(data) {
          console.log(data);
        });
      fetch("https://helpersgo.herokuapp.com/helpersgo/apis/subservicios/")
        .then(function(response) {
          console.log(response);
          return response.json();
        })
        .then(function(data) {
          console.log(data);
        });
    </script>
  </body>
</html>

////

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="{% static 'styles/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/main.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/43f3cc2ec8.js"></script>
    <title>HelpersGOFrontend</title>
  </head>
  <body>
    <div class="wrapper">
      <!--HEADER-->
      <header>
        <div class="container_top">
          <div class="header">
            <img src="{% static 'images/Logo.png' %}" alt="" />
            <a class="logo" href="#">HelpersGO</a>
          </div>
          <!--END HEADER-->
          <!--NAVEGACIÓN-->
          <nav>
            <ul class="menu">
              <li><a href="">Quienes Somos</a></li>
              <li><a href="">Contáctanos</a></li>
              <li><a href="">Regístrate</a></li>
              <li><a href="">Ingresar</a></li>
            </ul>
          </nav>
          <i class="js_menu menu fa fa-bars"></i>
        </div>
      </header>
      <!--END NAVEGATION-->
      <!--MAIN-->
      <main>
        <!--SECTION REGISTRARSE E INGRESAR-->

        <!--<div class="container">-->
        <div class="main">
          <div class="main_top">
            <div class="check_enter">
              <div class="check">
                <a href="">Registrarse</a>
              </div>
              <div class="enter">
                <a href="">Ingresar</a>
              </div>
            </div>
            <div class="text_top">
              <h2>Encuentra a tu HelpersGO más calificado en tiempo real</h2>
            </div>
          </div>
          <!--CARDS-->
          <div class="container">
            <div class="main_cards">
              <!--CARD ELECTRICISTA-->
              <a href="">
                <!--CARD ELECTRICISTA-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <figure>
                        <i class="fas fa-charging-station"></i>
                      </figure>
                    </div>
                    <div class="card_text">
                      <h2>Electricistas</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Instalación de luminarias</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Cortocircuito y tablero eléctrico</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Cableado Eléctrico</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más...</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
              <!--CARD GASFITERO-->
              <a href="">
                <!--CARD GASFITERO-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <i class="fas fa-tools"></i>
                    </div>
                    <div class="card_text">
                      <h2>Gasfiteros</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Accesorios de inodoro</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Filtraciones</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Desatoros</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
              <!--CARD PINTURA-->
              <a href="">
                <!--CARD PINTURA-->
                <div class="card">
                  <div class="card_foto_text">
                    <div class="card_foto">
                      <i class="fas fa-paint-roller"></i>
                    </div>
                    <div class="card_text">
                      <h2>Pintura</h2>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Pintado en interiores y exteriores</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Resanes</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Curación de salitres u hongos</p>
                      </div>
                      <div class="luminarias">
                        <i class="fas fa-check"></i>
                        <p>Y mucho más</p>
                      </div>
                      <a class="ver_todos" href="">Ver todos</a>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
          <!--END CARDS-->

          <!--SECTION FÁCIL RÁPIDO Y SEGURO-->
          <section>
            <div class="eligenos">
              <h2>
                Contacta profesionales al servicio del hogar desde donde estés
              </h2>
              <div class="eligenos_cards">
                <div class="farase">
                  <h5>Fácil</h5>
                  <p>
                    Siempre a tu alcance. Obtén acceso a trabajadores
                    calificados desde la palma de tu mano y desde donde estés,
                    de la manera más sencilla.
                  </p>
                </div>
                <div class="farase">
                  <h5>Rápido</h5>
                  <p>
                    Estamos para atenderte cuando más nos necesitas. Programa la
                    visita de un experto al servicio del hogar en cuestión de
                    minutos.
                  </p>
                </div>
                <div class="farase">
                  <h5>Seguro</h5>
                  <p>
                    Nuestros colaboradores pasan por un riguroso proceso de
                    selección, evaluación psicológica y revisión de antecedentes
                    penales.
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!--</div>-->
      </main>
      <!--FOOTER-->
      <footer>
        <div class="container">
          <div class="redes">
            <ul>
              <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
              </li>
              <li>
                <a href="#"><i class="fab fa-youtube"></i></a>
              </li>
            </ul>
          </div>
          <div>
            <h4>Todos los derechos reservados 2019</h4>
          </div>
        </div>
      </footer>
    </div>
    <script src="./scripts/main.js"></script>
  </body>
</html>
