<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    
</head>
<body class="text-center">
    <form class="iniciar">
      <img class="" src="pictures/help.PNG" alt="" width="120" height="120">
      <h1 class="title">Inicia Sesión</h1>
      <label for="Email" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="Password" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember"> Recuerdame
        </label>
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block">Iniciar</button>
      <p class="mt-5 mb-3 text-muted">&copy; HelpersGO-DEV|2019</p>
    </form>
</body>
</html>