{% extends 'helpersgo/index.html' %}
<br />
{% block content %}
<!-- Required Resources -->

<div class="container py-4 my-2">
  <div class="row">
    <div class="col-md-4 pr-md-5">
      <img
        class="w-100 rounded border"
        src="https://cdn.bootstrapsnippet.net/assets/image/dummy-avatar.jpg"
      />
      <div class="pt-4 mt-2">
        <section class="mb-4 pb-1">
          <h3 class="h6 font-weight-light text-secondary text-uppercase">
            Experiencia de Trabajo
          </h3>
          <div class="work-experience pt-2">
            <div class="work mb-4">
              <strong class="h5 d-block text-secondary font-weight-bold mb-1"
                >Prodesign Inc</strong
              >
              <strong class="h6 d-block text-warning mb-1"
                >Front End Developer</strong
              >
              <p class="text-secondary">
                Southern Street Floral Park, NY 11001
              </p>
            </div>
            <div class="work mb-4">
              <strong class="h5 d-block text-secondary font-weight-bold mb-1"
                >Blue Tech</strong
              >
              <strong class="h6 d-block text-warning mb-1"
                >Senior Programmer</strong
              >
              <p class="text-secondary">George Avenue Mobile, AL 36608</p>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center">
        <h2 class="font-weight-bold m-0">
          {{persona}}
        </h2>
        <address class="m-0 pt-2 pl-0 pl-md-4 font-weight-light text-secondary">
          <i class="fa fa-map-marker"></i>
          {{direccion.distrito}}, {{direccion.provincia}}
        </address>
      </div>
      <p class="h5 text-primary mt-2 d-block font-weight-light">
        {{proveedor.oficio}}
      </p>
      <p class="lead mt-4">
        {{proveedor.comentario}}
      </p>
      <section class="mt-5">
        <h3 class="h6 font-weight-light text-secondary text-uppercase">
          Rankings
        </h3>
        <div class="d-flex align-items-center">
          <strong class="h1 font-weight-bold m-0 mr-3">4.85</strong>
          <div>
            <input
              data-filled="fa fa-2x fa-star mr-1 text-warning"
              data-empty="fa fa-2x fa-star-o mr-1 text-light"
              value="5"
              type="hidden"
              class="rating"
              data-readonly
            />
          </div>
        </div>
      </section>

      <section class="mt-4">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link active"
              id="home-tab"
              data-toggle="tab"
              href="#home"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              About
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Reviews
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              id="contact-tab"
              data-toggle="tab"
              href="#contact"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              Recent Projects
            </a>
          </li>
        </ul>
        <div class="tab-content py-4" id="myTabContent">
          <div
            class="tab-pane py-3 fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <h6 class="text-uppercase font-weight-light text-secondary">
              Informacion de Contacto
            </h6>
            <dl class="row mt-4 mb-4 pb-3">
              <dt class="col-sm-3">Phone</dt>
              <dd class="col-sm-9">{{telefono}}</dd>

              <dt class="col-sm-3">Direccion</dt>
              <dd class="col-sm-9">
                <address class="mb-0">
                  {{direccion.direccion}}<br />
                  {{direccion.distrito}}, {{direccion.provincia}}
                </address>
              </dd>

              <dt class="col-sm-3">Email address</dt>
              <dd class="col-sm-9">
                <a href="#">{{persona.email}}</a>
              </dd>
            </dl>

            <h6 class="text-uppercase font-weight-light text-secondary">
              Informacion Basica
            </h6>
            <dl class="row mt-4 mb-4 pb-3">
              <dt class="col-sm-3">Nacimiento</dt>
              <dd class="col-sm-9">{{persona.fec_nacimiento}}</dd>
            </dl>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button
                id="btnContactar"
                data-href="{% url 'helpersgo:contactoProveedor' persona.id %}"
                type="button"
                class="btn btn-success btn-lg"
              >
                Contactar
              </button>
              <button
                id="btnVolver"
                data-href="{% url 'helpersgo:index' %}"
                type="button"
                class="btn btn-secondary btn-lg"
              >
                Volver
              </button>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            Under Construction...
          </div>
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            Under Construction...
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  let btnContactar = document.getElementById("btnContactar");
  let btnVolver = document.getElementById("btnVolver");
  console.log("btnContactar", btnContactar);
  btnContactar.addEventListener("click", function(e) {
    window.location = this.dataset.href;
  });
  btnVolver.addEventListener("click", function(e) {
    window.location = this.dataset.href;
  });
</script>
{% endblock %}
